.list {
    background-color: dodgerblue;
    margin:10px 20px;
    text-align: left;
    border-radius: 7px;
}
.list p{
    padding:10px 15px;
    color:white;
    position: relative;
}

.list p span {
    position: absolute;
    right:10px;
    cursor: pointer;
}

.list p input {
    background:dodgerblue ;
    border:none;
    outline: none;
    color:wheat;
}