body{
  background-image: radial-gradient(silver,lightblue);
  background-size: cover;
}

.App {
  background-color: rgb(30, 54, 85);
width: 400px;
min-height: 400px;
 margin:40px auto;
 text-align: center;
}
.App h2 {
  color:white;
  padding: 10px;
}

#todo-form input{
  width: 200px;
  height: 40px;
  margin:20px 5px;
  background-color: rgb(93, 143, 218);
  color:white;
  font-size: 1.2rem;
  border-radius: 10px;
  outline: none;
  border:none;
}
#todo-form button:active{
  outline: none;
  border:none;
}

#todo-form input::placeholder {
  color:rgb(207, 200, 200);
}
#todo-form button {
  padding:10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(241, 167, 69);
  color:white;
}